@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:Arial,Helvetica,sans-serif;
  cursor: pointer;
}

body{
  font-family: Poppins;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  background: linear-gradient(
    to bottom,
    rgba(197, 204, 207, 0.248),
    rgba(0, 0, 0, 0.174)
  );
}

.portfolio-icon img {
  height: 50px;
  width: 50px;
  position: relative;
  left: -110px;
}

.nav ul{
  display: flex;
  justify-content: center;
}

.nav a {
  font-size: 20px;
  text-decoration: none;
  margin: 8px;
  color: white;
  position: relative;
  /* left: 60px; */
}

.nav a:hover {
  padding: 2px;
  border: 1px solid white;
  color: black;
  transition: all 0.5s;
  scale: 1.2;
}

.hire button {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 30px;
  position: fixed;
  left: 90px;
}

@media (max-width: 560px) {
  .main-container{
    width:100vh;
  }
  .nav a {
    font-size: 8px;
    color: white;
    /* justify-content: center; */
    left: -160px;
  }

  .portfolio-icon img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    left: -60px;
  }

  .hire button {
    font-size: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    right: 0px;
    left: -290px;
  }
}

@media (min-width: 561px) and (max-width:766px){
  .nav a {
    font-size: 12px;
    color: white;
    /* left: 40px; */
  }

  .portfolio-icon img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    left: -30px;
  }

  .hire button {
    font-size: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    /* right: 40px; */
    left: 40px;
  }
}

@media (min-width:766px) and (max-width:991px){
  .nav a {
    font-size: 15px;
    color: white;
    /* left: 40px; */
  }

  .portfolio-icon img {
    height: 35px;
    width: 35px;
    position: relative;
    top: 5px;
    left: -60px;
  }

  .hire button {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    /* right: 40px; */
    left: 60px;
  }
}

@media (min-width:911px) and (max-width:1200px){
  .nav a {
    font-size: 18px;
    color: white;
    /* left: 40px; */
  }

  .portfolio-icon img {
    height: 35px;
    width: 35px;
    position: relative;
    top: 5px;
    left: -60px;
  }

  .hire button {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    /* right: 40px; */
    left: 60px;
  }
}

/* ---home-- */

.home {
  background-image: url(../images/top-view-desk-dark-concept-with-copy-space.jpg);
  background-size: cover;
  height: 100vh;
  margin-right: 0px;
  display: flex;
  align-items: center;
}

#img1 {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-size: cover;
  margin-right: 80px;
  margin-left: 40px;
  box-shadow: 0px 2px 2px 5px rgb(94, 126, 6);
}

.home h3 {
  font-size: 40px;
  color: red;
  line-height: 40px;
}

.home span {
  font-size: 20px;
  color: white;
  line-height: 40px;
}

#desig {
  animation-name: fadeInUp; /* Apply the animation */
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 100%; /* Fade in the text */
    color: red;
  }
}

.button {
  background-color: black;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 30px;
  color: white;
  margin-right: 25px;
  position: relative;
  transition: all 0.5s;
  margin-top: 10px;
}
.button a {
  text-decoration: none;
  color: white;
}
.button:hover {
  color: white;
  scale: 1.02;
  box-shadow: 0 0 15px white;
}

.det{
    font-size: 20px;
    margin-top: 15px;
    line-height: 35px;
    color: white;
    font-weight: 500;
}

/* ---Responsiveness--- */
@media (max-width: 560px) {
    .home{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 10px;
    }
    
    #img1 {
      justify-content: center;
        width: 200px;
        height: 200px;
        margin: 20px;
      }

    .button{
        width: 60vw;
    }

    .home h3 {
        font-size: 30px;
        color: red;
      }
      
      .home span {
        font-size: 20px;
        color: white;
        line-height: 30px;
      }

      .det{
        margin: 15px 10px;
        font-size: 10px;
        text-align: center;
    }
  }

  @media (min-width: 767px) and (max-width:991px){
    .home{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        /* padding: 10px; */
        text-wrap: wrap;
    }
    
    #img1 {
        align-items: center;
        width: 250px;
        height: 250px;
        margin: 20px;
      }

    .button{
        width: 20vw;
    }

    .det{
        margin: 15px 10px;
        font-size: 15px;
        text-align: center;
    }
  }
  
  @media (min-width: 561px) and (max-width:766px){
    .home{
        flex-direction: column;
        align-items: center;
        text-align: start;
        justify-content: center;
        width: 100vw;
        height: auto;
        /* padding: 10px; */
        text-wrap: wrap;
    }
    
    #img1 {
        align-items: start;
        width: 250px;
        height: 250px;
        margin: 20px;
      }

    .button{
        width: 20vw;
        font-size: 12px;
    }

    .det{
      margin: 15px 10px;
        font-size: 15px;
        text-align: start;
    }
  }

  /* --card-section-- */

  .academics{
    width: inherit;
    /* height: 100vh; */
    background-color: rgba(197, 192, 192, 0.485);
    padding-top: 40px;
  }

  .acad{
    display: flex;
    font-size: 30px;
    font-weight: 500px;
    padding:40px 100px;
    gap: 10px;
    position: relative;
    right: 70px;
  }

  .fa-graduation-cap{
    margin-top: 20px;
    position: relative;
    /* left: -20px; */
  }

  .card-box{
    display: flex;
    justify-content: center;
  }
  
  .card-section{
    background-color: white;
    width: 280px;
    height: 350px;
    margin: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 5px 5px 5px grey;
  }
  
  .card-content{
    align-items: end;
  }
  .card-img {
    background-size: cover;
    width: 280px;
    height: 180px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 2px 5px 10px black;
  }
  
  .card-section ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    line-height: 25px;
    text-align: start;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
  }

  .hire-me button{
    background-color: black;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    position: relative;
    left: 10px;
    top: 15px;
    transition: all .5s;
  }
  .hire-me button:hover {
    color: white;
    scale: 1.02;
    box-shadow: 0 0 15px wheat;
  }

  .hire-more button{
    background-color: black;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    position: relative;
    left: 10px;
    top: 15px;
    transition: all .5s;
  }
  .hire-more button:hover {
    color: white;
    scale: 1.02;
    box-shadow: 0 0 15px wheat;
  }

  /* --respnsiveness-- */

  @media (max-width: 560px) {
    .academics{
      width: inherit;
      height: auto;
      padding: 10px 0 10px 0;
    }

    .acad{
      right: 0px;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 15px;
    }

    .fa-graduation-cap{
      margin-top: 10px;
    }

    .card-section{
      width: 200px;
      height: 250px;
      margin: 10px;
      border-radius: 15px;
    }

    .card-img {
      width: 200px;
      height: 130px;
    }

    .card-section ul{
      list-style-type: none;
      line-height: 17px;
      text-align: start;
      margin-left: 10px;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 100;
      margin-top: 10px;
    }

    .card-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
    .hire-me button{
      font-size: 10px;
      position: relative;
      left: 10px;
      top: 10px;
      width: 13vh;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
    .hire-more button{
      font-size: 10px;
      position: relative;
      left: 10px;
      top: 10px;
      width: 18vh;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
  }

  @media (min-width: 767px) and (max-width:1200px){
    .academics{
      width: 100vw;
      height: auto;
      text-align: center;
      padding: 10px 0 10px 0;
    }
    .acad{
      justify-content: center;
      font-size: 25px;
      right: 0px;
    }
    .card-box{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .hire-me button{
      font-size: 10px;
      position: relative;
      left: 10px;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
    .hire-more button{
      font-size: 10px;
      position: relative;
      left: 10px;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
  }

  @media (min-width: 1200px){
    .academics{
      width: inherit;
      height: 100vh;
      text-align: auto;
      /* padding: 10px 0 10px 0; */
    }
    .acad{
      justify-content: start;
      font-size: 25px;
      margin-left: 70px;
    }
    .card-box{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 561px) and (max-width:766px){
    .academics{
      width: inherit;
      height: auto;
      text-align: center;
      padding: 10px 0 10px 0;
    }

    .acad{
      justify-content: center;
      flex-wrap: wrap;
      font-size: 18px;
      right: 0px;
    }

    .fa-graduation-cap{
      margin-top: 15px;
    }

    .card-box{
      align-items: center;
      flex-wrap: wrap;
    }

    .hire-me button{
      font-size: 10px;
      position: relative;
      left: 10px;
      top: 10px;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
    .hire-more button{
      font-size: 10px;
      position: relative;
      left: 10px;
      top: 10px;
      padding: 5px;
      border-radius: 15px;
      margin: 0px;
    }
  }

  
/* -------Contact------ */

.contact{
  width: inherit;
  height: 100%;
  background-color: rgb(94, 123, 113);
}

#mc h2{
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  color: black;
  padding: 40px 0 0 0;
}

.fo{
  display: flex;
  justify-content: center;
}

#form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}

.item{
  text-align: center;
  padding: 12px;
  margin: 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
}

.item3{
  width: 90%;
}

.item4{
  width: 90%;
}

input:hover{
  box-shadow: 0 1px 2px 4px rgb(64, 103, 94);
}
textarea:hover{
  box-shadow: 0 1px 2px 4px rgb(19, 136, 190);
}

.item5{
  background-color: rgb(22, 186, 227);
  color: white;
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
}

  /* .item5:hover{
  color: black;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 15px white;
} */

/* 

/* --respnsiveness-- */

@media (max-width: 560px) {
  .form{}
  .contact button{
    font-size: 10px;
  }
}

@media (min-width: 767px) and (max-width:1200px){
  
}

@media (min-width: 1200px){
 
}

@media (min-width: 561px) and (max-width:766px){
  
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

footer {
    text-decoration: none;
}

a i{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 1.5rem;
}

a i:hover{
    color: rgb(30, 215, 96);
}

footer p{
    color: rgb(170, 170, 170);
} */